.logo{
    position: absolute;
    left: 37%;
    top: -29px;
}
.wordlog{
    position: absolute;
    left: 45%;
    top: 20px;
}
.menu{
    position: absolute;
    top: 10%;
    left: 28%;

}
li{
    float: left;
    list-style-type: none;
    font-family: Impact;
    margin-right: 200px;
    font-size: 25px;
}
a:hover{
    color: #FF8000;
    transition: all 400ms;
}
a{
    text-decoration: none;
    color: #000;
    transition: all 450ms;
}
.y3{
    position: absolute;
    top: 20%;
    left: 0;
    width: 99%;
}
.fotb{
    position: absolute;
    left: 10%;
    transition: all 500ms;
}
.fotb:hover{
    transform: rotate(10deg) scale(1.1);
    transition: all 500ms;
}
h1{
    font-family: Arial;
    position: absolute;
    font-size: 25px;
    left: 30%;
}
.opis{
    font-family: Arial;
    position: absolute;
    left: 30%;
    top: 50px;
}
.prise{
    font-family: Impact;
    color: forestgreen;
    position: absolute;
    left: 30%;
    top: 120px;
    font-size: 35px;
}
.buy{
    background:rebeccapurple;
    color:#fff;
    border:none;
    position:relative;
    height:60px;
    font-size:1.6em;
    padding:0 2em;
    cursor:pointer;
    transition:800ms ease all;
    outline:none;
    left: 30%;
    top: 175px;
}
.buy:hover{
    background:#fff;
    color:rebeccapurple;
}
.buy::before{
    content:'';
    position:absolute;
    top:0;
    right:0;
    height:2px;
    width:0;
    background: rebeccapurple;
    transition:400ms ease all;
}
.buy:hover::before{
    width:100%;
    transition:800ms ease all;
}
.buy::after{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    height: 0;
    width: 2px;
    transition: 200ms ease all;
    background: rebeccapurple;
}
.buy:hover::after{
    height: 100%;
    transition: 400ms ease all;
    transition-delay: 700ms;
}
.y4{
    position: absolute;
    top: 53%;
    width: 99%;
}
.lem{
    position: relative;
    left: 70%;
    transition: all 500ms;
}
.lem:hover{
    transform: rotate(-10deg) scale(1.1);
    transition: all 500ms;
}
.lim{
    position: absolute;
    left: 40%;
    top: 0;
}
.opis_lem{
    font-family: Arial;
    position: absolute;
    left: 40%;
    top: 17%;
}
.lemp_rise{
    left: 63%;
    top: 30%;
}
.low{
    left: 42%;
    top: -120px;
}
.left{
    background-color: indianred;
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    left: 0;
}
.right{
    background-color: indianred;
    position: absolute;
    height: 100%;
    width: 10%;
    top: 0;
    right: 0;
}
.info{
    font-family: Arial;
    font-size: 40px;
    position: absolute;
    top: 30%;
    left: 25%;
}
body{
    background-image: url("email-pattern.png");
}
@media (max-width: 600px) {
    .left{
        display: none;
    }
    .right{
        display: none;
    }
    .opis_lem{
        display: none;
    }
    .opis{
        display: none;
    }
    .fotb{
        left: 30%;
    }
    .lem{
        left: 30%;
    }
    .prise{
        top: 58%;
        left: 50%;
    }
    .lim{
        left: 28%;
        top: -10%;
    }
    .low{
        left: -13%;
        top: 16px;
    }
    .y4{
        top: 61%;
    }
    .y3{
        height: 60%;
    }
    .buy{
        top:53%;
        left: 40%;
    }
    .low{
        left: -13%;
        top: 10%;
    }
    .menu{
        left: 15%;
    }
    li{
        margin-right: 10px;
    }
    h1{
        top: -10%;
    }
    .lemp_rise{
        top: 98%;
    }
    .logo{
        left: 20%;
    }
}